@import '_vars.scss';

/* HEADER */

.header {
  border-bottom: 1px solid darken($bg-light, 5%);
}

.branding {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: inline-flex;
  align-items: center;
  padding-left: 1rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: $text-color-primary;
  font-weight: 700;
  transition: all .2s;

  &:hover {
    text-decoration: none;
  }
}

.navbar {
  flex: 1 0 auto;
  margin-right: 2rem;
}

.nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0;

  &-item {

    a {
      display: inline-block;
      color: $text-color-primary;
      text-decoration: none;
      line-height: 2rem;
      padding: .7rem 2rem;
      transition: all .2s;
      border-bottom: 1px solid transparent;

      &:hover {
        color: $accent;
        border-color: $accent;
      }
    }
  }
}

.figure-holder {

  img {
    box-shadow: $box-shadow-md;
  }
}

.section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.section-heading {
  font-size: 2.5rem;
  text-transform: capitalize;
  margin-bottom: 5rem;
}

.section-intro {
  font-size: 1.25rem;
  margin-bottom: 4rem;
}

.hero-section {

  .headline {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 3rem;
  }

  .subheadline {
    font-size: 1.25rem;
    margin-bottom: 3rem;
  }

}


.benefits-section {

  .item {

    &-inner {
      height: 100%;
      margin: 0 auto 4rem;
      max-width: 360px;

    }

    &-icon {
      font-size: 3rem;
      color: $accent;
    }

    &-heading {
      font-size: 1.125rem;
    }
  }
}

.content-section {
  .key-points-list {
    font-size: 1.125rem;

    li {
      margin-bottom: 1rem;
    }
  }

  .fa-check-circle {
    color: $color-tick;
  }
}


.audience-section {
  .audience {
    max-width: 500px;
  }

  .item {
    margin-bottom: 1.5rem;
  }

  .item-title {
    font-size: 1.125rem;
  }

  .item-icon {
    font-size: 1.25rem;
    color: $color-tick;
  }
}

.reviews-section {

  .item-inner {
    height: 100%;
    position: relative;
  }

  .icon-holder {
    position: absolute;
    left: 50%;
    top: -18px;
    margin-left: -18px;
    display: inline-block;
    width: 36px;
    height: 36px;
    background: lighten($accent, 20%);
    color: #fff;
    text-align: center;
    @include border-radius(50%);
    padding-top: 6px;
  }

  .source-profile {
    width: 60px;
  }

  .source-info {
    font-size: 0.875rem;
  }

  .quote {
    font-style: italic;

  }
}

.author-section {
  color: #fff;

  .author-pic {
    width: 150px;
    height: 150px;
  }

  .social-list {
    li {
      background: rgba(0, 0, 0, 0.1);
      width: 36px;
      height: 36px;
      display: inline-block;
      @include border-radius(50%);
      padding-top: 6px;

      &:hover {
        background: rgba(0, 0, 0, 0.15);
      }
    }

    a {
      color: #fff;
    }
  }
}

.theme-bg-light {
  background-color: $bg-light;
}

.page-error {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .error {
    text-align: center;
    flex: 1 0 auto;
  }

  h1 {
    margin-bottom: 4rem;
  }
}

.social {
  margin-bottom: 2rem;

  &-title {
    margin-bottom: 2rem;
  }

  &-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 200px;
    padding-left: 0;
    margin-bottom: 0;
  }

  &-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.2rem;
    background-color: $text-color-light;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    &:hover {
      transition: all .2s ease-in-out;
      background-color: $accent;
      text-decoration: none;
      color: #fff;
    }
  }
}

.lang {

  &-switcher {
    position: relative;
    padding-right: 15px;

    i {
      transition: all .2s ease-in-out;
    }

    &:hover {

      & .lang-list {
        display: block;
        opacity: 1;
      }

      & i {
        transform: scaleY(-1);
      }
    }
  }

  &-current {
    width: 60px;
    height: 40px;
    border: 1px solid $border-color;
    border-radius: 3px;
    line-height: 40px;
    text-align: center;
    font-size: .9rem;
  }

  &-list {
    position: absolute;
    height: auto;
    top: 54px;
    right: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 3px;
    box-shadow: $box-shadow-md;
    z-index: 3;
    background-color: #fff;
    display: none;
    opacity: 0;
  }

  &-item {

    a {
      display: block;
      padding: 1rem;
      transition: all .2s ease-in-out;
      color: currentColor;
      min-width: 80px;
      text-align: center;

      &:hover {
        text-decoration: none;
        background-color: $border-color;
      }

      &.lang-active {
        color: $accent;
        background-color: $border-color;
      }
    }
  }
}


.mobi-nav {
  position: relative;
  padding-left: 15px;
  display: none;

  i {
    transition: all .2s ease-in-out;
  }


  &:hover {

    & .mobi-nav-list {
      display: block;
      opacity: 1;
    }
  }

  &-toggle {
    width: 40px;
    height: 40px;
    border: 1px solid $border-color;
    border-radius: 3px;
    line-height: 40px;
    text-align: center;
    font-size: 1.5rem;
  }

  &-list {
    position: absolute;
    height: auto;
    top: 54px;
    left: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 3px;
    box-shadow: $box-shadow-md;
    z-index: 3;
    background-color: #fff;
    display: none;
    opacity: 0;
  }

  &-item {

    &:nth-child(1) {

      a {
        border-bottom: 1px solid $border-color;
      }
    }

    a {
      display: block;
      padding: 1rem;
      min-width: 180px;
      transition: all .2s ease-in-out;
      color: currentColor;

      &:hover {
        text-decoration: none;
        background-color: $border-color;
      }
    }
  }
}
